/node_modules
/mobile
/vendor
/tests
/bower
/.idea
/lamp

Homestead.yaml
Homestead.json
composer.lock
common.js
.env
.env.save
.env.testing
.netbeans.xml
.DS_Store
._.DS_Store
._*
dump.rdb
package-2.json
