@charset "utf-8";

form.dropzone {
  border: 2px dashed darken($body-background, 16.8%);
  padding: 70px 60px 80px;
  background: transparent;

  .icon {
    background-color: darken($light-color, 10%);
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;

    span {
      font-size: 60px;
      color: lighten($dark-color, 17%);
    }
  }

  h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: $font-weight-light;
  }

  .note {
    font-size: 16px;
  }
}

.dropzone-area {
  width: 100%;
  height: 50px;
  position: relative;
  border: 2px dashed $color-border;
  @include transition (all 0.12s linear);
  &:hover, &.dropzone-hover {
    border: 2px dashed $color-ok-solid;
    .dropzone-title {
      color: darken($color-ok-text, 10);
    }
  }

  input {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.dropzone-text {
  position: absolute;
  top: 50%;
  text-align: center;
  @include transform(translate(0, -50%));
  width: 100%;
  span {
    display: block;
  }
}

.dropzone-title {
  @include text-dropdown;
}
.dropzone-info {
  @include text-descrete;
}
.dropzone-image {
  width: 95px;
  height: 95px;
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  position: relative;
}

.dropzone-close.modal-close {
  position: absolute;
  top: 10px;
  left: 10px;
  visibility: hidden;
  transform: inherit;
  @include transition (all 0.06s linear);
  &:hover span {
    background-color: $color-warning-solid;
  }
}

.dropzone-preview {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  &:hover .dropzone-close.modal-close {
    visibility: visible;
  }
}