/**
* - Notifications
**/
#notification-notice-wrapper{
  width: $notification-width;
  top: $notification-top-position;
}

.notification-item-wrapper{
  background: url("#{$img-url}/notification-bg.png");
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .notification-item{
    font-family:'Open Sans',sans-serif;
    background: transparent;
    color: $light-color;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;

    .notification-img-container {
      display: table-cell;
      width: 26%;
      vertical-align: middle;
      text-align: center;
      background-color: darken($dark-color, 5%);

      .notification-image {
        float: none;
      }
    }

    .notification-content {
      width: auto;

      &.notification-with-image, &.notification-without-image {
        padding: 15px 35px 17px 15px;
        color: darken($light-color, 15%);
        width: 267px;
        display: table-cell;

        .notification-close {
          display: block;
          top: 0;
          right: 0;
          left: auto;
          height: 30px;
          width: 30px;
          font-size: 0;
          background: transparent;
          text-indent: inherit;
          @include opacity(0.4);

          &:hover {
            @include opacity(0.8);
          }

          &:after {
            content: '\f136';
            font-family: $icons-font;
            color: $light-color;
            font-size: 20px;
            text-shadow: none;
            line-height: 35px;
            margin-left: 7px;
          }
        }

        .notification-title {
          text-shadow: none;
          font-weight:300;
          font-size:17px;
        }

        p {
          font-size:12px;
          line-height:19px;
        }
      }

      .notification-without-image {
        border-left: 0;
      }
    }
  }

  &.img-rounded{
    @include border-radius(0);

    .notification-img-container {

      .notification-image {
        @include border-radius(50%);
      }
    }
  }

  &.clean {
    background: $light-color;

    .notification-item {
      color: $text-color;

      .notification-img-container {
        background-color: darken($light-color, 2%);
      }

      .notification-content{
        color: $text-color;

        .notification-close{
          @include opacity(0.5);

          &:after {
            color: $text-color;
          }
        }
      }
    }
  }

  &.color {

    .notification-item {
      .notification-content {
        color: $light-color;

        .notification-close{
          @include opacity(0.7);

          &:hover{
            @include opacity(1);
          }
        }
      }
    }
  }

  &.primary	{ background: $primary-color; }
  &.success	{ background: $success-color; }
  &.warning { background: $warning-color; }
  &.danger	{ background: $danger-color; }
  &.dark    { background: $dark-color; }


  &.facebook 		{ @include social-notification($facebook); }
  &.twitter			{ @include social-notification($twitter); }
  &.google-plus	    { @include social-notification($google-plus); }
  &.dribbble		{ @include social-notification($dribbble); }
  &.flickr			{ @include social-notification($flickr); }
  &.linkedin		{ @include social-notification($linkedin); }
  &.youtube			{ @include social-notification($youtube); }
  &.pinterest		{ @include social-notification($pinterest);	}
  &.github			{ @include social-notification($github); }
  &.tumblr			{ @include social-notification($tumblr); }
}